<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.ubq">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Test">
        <activity
                android:name="de.hft.ubq.Login"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.Modus"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.Midscreen"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.PictureFullscreenMain"
                android:exported="false" />

        <service
                android:name="de.hft.ubq.BackgroundSoundService"
                android:enabled="true" />

        <activity
                android:name="de.hft.ubq.PictureFullscreenMarked"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.PictureFullscreen"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.GM_ReferenceChoice"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.PictureFullscreenReferenceChoice"
                android:exported="false" />
        <activity
                android:name="de.hft.ubq.PictureFullscreenGM"
                android:exported="true" />
        <activity
                android:name="de.hft.ubq.Settings"
                android:exported="true" />
        <activity
                android:name="de.hft.ubq.MainActivity"
                android:exported="true" />
        <activity
                android:name="de.hft.ubq.MainActivityGM"
                android:exported="true" />
        <activity
                android:name="de.hft.ubq.MainMenu"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>